<div id="footer">
    <div class="row">
      <div class="col-lg-4 item safety">
        <h2>Safety and Hygiene:</h2>
        <ul type="square">
          <li>
            Thermal Monitoring
          </li>
          <li>
            Sanitizers Placed at several places
          </li>
          <li>
            No touch Dining Facility
          </li>
          <li>
            Daily Disinfecting High touch areas
          </li>
          <li>
            No touch Dining Facility
          </li>
        </ul>
      </div>
      <div class="col-lg-4 item contact">
        <h2>Contact:</h2>
        <div class="icons">
          <a href="mailto:ravneetkaur9978@gmail.com"><i class="social-icon fas fa-envelope fa-2x"></i></a>
          <a href=" "><i class="social-icon fa-2x fas fa-phone"></i></a>
          <a href=" "><i class="social-icon fa-2x fas fa-map-marker-alt"></i> </a>
          <a href=" "><i class="social-icon fab fa-instagram fa-2x"></i></a>
          <a href="https://www.linkedin.com/in/ravneet-kaur-ba3b17198"><i class="social-icon fab fa-linkedin fa-2x"></i></a>
          <a href=""><i class="social-icon fab fa-facebook-square fa-2x"></i></a>
        </div>
      </div>
      <div class="col-lg-4 facilities">
        <h2>Facilities Provided:</h2>
        <ul type="square">
        <li>
          24x7 Wi-Fi connectivity provided in all hostels
        </li>
        <li>
          CCTV cameras at entrances of all hostels
        </li>
        <li>
          24x7 electricity and water supply in all the hostels
        </li>
        <li>
          Night cafeterias up to 1.00 AM
        </li>
        <li>
          Solar panels installed in all hostels for hot water
        </li>
        <li>
          Caretakers and housekeeping services are provided in all hostels during day and night
        </li>
        <li>
          A scaled down version of Gyms in all hostels
        </li>
      </ul>
      </div>
    </div>
  </div> 