<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="/css/admin.css">
    
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2> &nbsp;&nbsp; Admin Panel</h2>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="/viewStudents" ><span class="fas fa-users"></span><span> View Students</span></a>
                </li>
                <li>
                    <a href="/addNewStudent" ><span class="fas fa-user"></span><span> Register Student</span></a>
                </li>                
                <li>
                    <a href="/deleteStudent"><span class="fas fa-trash-alt"></span><span> Delete Student</span></a>
                </li>
                <li>
                    <a href="/addNewRoom" class="active"><span class="fas fa-plus-square"></span><span> Add a New Room</span></a>
                </li>
                <li>
                    <a href="/reportGeneration"><span class="fas fa-users"></span><span> Report Generation</span></a>
                </li>
                <li>
                    <a href="/viewComplaints"><span class="fas fa-comments"></span><span> View Complaints</span></a>
                </li>
                <li>
                    <a href="/"><span class="fas fa-sign-out-alt"></span><span>Logout</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <header style="display: flex;">
                <h2> 
                    Dashboard
                </h2>
        </header>
        <main>
            <div class="dashboard-cards"> 
                <div class="container">
                    <div class="title"> Add New Room</div>
                    <br>
                    <form action="/addNewRoom" method="POST">
                        <div class="user-details">
                            <div class="input-box">
                                <label class="details" for="college" class="text-info">College</label>
                                <select name="college" id="college" class="form-control">
                                    <option value="MIT World Peace University">MIT World Peace University</option>
                                     <option value="Savitribai Phule Pune University">Savitribai Phule Pune University</option>
                                     <option value="Cummins College of Engineering for Girls">Cummins College of Engineering for Girls</option>
                                </select>
                            </div>
                            <div style="display: flex;  ">
                                <div class="input-box"  style="width: 300px;">
                                    <span class="details">
                                        Hostel No.
                                    </span>
                                    <input type="text" name="hostel_no" placeholder="Enter the Hostel no. " required>   
                                </div>
                                <div class="input-box" style="margin-left: 35px; width: 300px">
                                    <span class="details">
                                        Floor
                                    </span>
                                    <input type="text" name="floor" placeholder="Enter No. of the hostel " required>   
                                </div>
                            </div>
                            
                            <div style="display: flex;  ">
                                <div class="input-box" style="width: 300px;">
                                    <label class="details" for="room_type" class="text-info">Room Type</label>
                                    <select name="room_type" id="room_type" class="form-control">
                                        <option value="Single Occupancy">Single Occupancy</option>
                                         <option value="Double Occupancy">Double Occupancy</option>
                                         <option value="Triple Occupancy">Triple Occupancy</option>
                                         <option value="Quadruple Occupancy">Quadruple Occupancy</option>
                                    </select>
                                </div>
                                <div class="input-box" style="margin-left: 35px; width: 300px">
                                    <span class="details">
                                        Room No.
                                    </span>
                                    <input type="text" name="room_no" placeholder="Enter No. of the hostel " required>   
                                </div>
                            </div>
                            <div class="input-box">
                                <label class="details" for="college" class="text-info">Beds available</label>
                                
                            <input type="text" name="counter" placeholder="Enter no. of the beds available" required>   
                            </div>
                        </div> 
                        <div class="button">
                            <button type="submit" class="click_me">Add New Room</button>
                        </div>
                    </form>
                </div> 
            </div>
        </main>
    </div>
</body>
</html>