<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- CSS link -->
    <link rel="stylesheet" href="/css/login.css">
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/82c55a20ec.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include("includes/navbar.ejs") -%>
    <div class="container">
        <div class="card" style="width: 40rem;">
            <div class="card-body">
                <div class="row" style="display: block;">
                    <div class="col-md login">
                        <form id="login-form" class="form" action="/occupancy" method="post">
                            <div class="form-group">
                                <label for="occ" class="text-info">Occupancy:</label><br>
                                <select name="occ" id="occ" class="form-control" required autocomplete="off">
                                <!-- <datalist id="occ-me">   -->
                                    
                                    <% var count=0 %>
                                      <% if(details.length>0) { %>
                                        <% details.forEach((data)=>{ %>
                                            <% if(data.room_type==='Single Occupancy'){ %>
                                            <% count=count+data.counter %>
                                        <% } %>
                                        <% }) %>
                                      <% } %>
                                      <% if(count>0) { %>
                                        <option value="Single Occupancy">Single Occupancy</option>
                                      <% } %>

                                      <% var count1=0 %>
                                      <% if(details.length>0) { %>
                                        <% details.forEach((data)=>{ %>
                                            <% if(data.room_type==='Double Occupancy'){ %>
                                            <% count1=count1+data.counter %>
                                        <% } %>
                                        <% }) %>
                                      <% } %>
                                      <% if(count1>0) { %>
                                        <option value="Double Occupancy">Double Occupancy</option>
                                      <% } %>

                                      <% var count2=0 %>
                                      <% if(details.length>0) { %>
                                        <% details.forEach((data)=>{ %>
                                            <% if(data.room_type=='Triple Occupancy'){ %>
                                            <% count2=count2+data.counter %>
                                        <% } %>
                                        <% }) %>
                                      <% } %>
                                      <% if(count2>0) { %>
                                        <option value="Triple Occupancy">Triple Occupancy</option>
                                      <% } %>

                                      <% var count3=0 %>
                                      <% if(details.length>0) { %>
                                        <% details.forEach((data)=>{ %>
                                            <% if(data.room_type=='Quadruple Occupancy'){ %>
                                            <% count3=count3+data.counter %>
                                        <% } %>
                                        <% }) %>
                                      <% } %>
                                      <% if(count3>0) { %>
                                        <option value="Quadruple Occupancy">Quadruple Occupancy</option>
                                      <% } %>
                                      
                                </select>
                            </div>
                            <input type="hidden" value="<%= email %>" name="email">
                            </div>
                            <div class="form-group" >
                                <button style="margin-right: 1.2rem;" type="submit" class="click_me next">Next</button>
                            </div>
                        </form>   
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("includes/footer.ejs") -%>
</body>
</html>

<!-- <% if(details.length>0) { %>
                                    <% details.forEach((data)=>{ %>
                                    <% if(data.room_type==='Single Occupancy'){ %>
                                    <option value="Single Occupancy">
                                    <% } %>  
                                    <% if(data.room_type==='Double Occupancy'){ %>
                                    <option value="Double Occupancy">
                                    <% } %>   
                                    <% if(data.room_type=='Triple Occupancy'){ %>
                                    <option value="Triple Occupancy">
                                    <% } %>   
                                     <% if(data.room_type==='Quadruple Occupancy'){ %>
                                     <option value="Quadruple Occupancy">
                                     <% } %>    
                                    <% }) %>
                                    <% } %> -->


                                     <!-- <% var count=0 %>
                                      <% if(details.length>0) { %>
                                        <% details.forEach((data)=>{ %>
                                            <% if(data.room_type==='Single Occupancy'){ %>
                                            <% count=count+data.counter %>
                                        <% } %>
                                        <% }) %>
                                      <% } %>
                                      <% if(count>0) { %>
                                        <option value="Single Occupancy">
                                      <% } %>

                                      <% var count1=0 %>
                                      <% if(details.length>0) { %>
                                        <% details.forEach((data)=>{ %>
                                            <% if(data.room_type==='Double Occupancy'){ %>
                                            <% count1=count1+data.counter %>
                                        <% } %>
                                        <% }) %>
                                      <% } %>
                                      <% if(count1>0) { %>
                                        <option value="Double Occupancy">
                                      <% } %>

                                      <% var count2=0 %>
                                      <% if(details.length>0) { %>
                                        <% details.forEach((data)=>{ %>
                                            <% if(data.room_type=='Triple Occupancy'){ %>
                                            <% count2=count2+data.counter %>
                                        <% } %>
                                        <% }) %>
                                      <% } %>
                                      <% if(count2>0) { %>
                                        <option value="Triple Occupancy">
                                      <% } %>

                                      <% var count3=0 %>
                                      <% if(details.length>0) { %>
                                        <% details.forEach((data)=>{ %>
                                            <% if(data.room_type=='Quadruple Occupancy'){ %>
                                            <% count3=count3+data.counter %>
                                        <% } %>
                                        <% }) %>
                                      <% } %>
                                      <% if(count3>0) { %>
                                        <option value="Quadruple Occupancy">
                                      <% } %> -->